/* ==========================================================================
   Buttons
   ========================================================================== */

/* Styles for fixed action (floating) buttons (using Materialize) */
.fixed-action-btn {
  bottom: 24px;
  right: 24px;

  /* Move them down and to the right on small devices */
  @include breakpoint($mq_small) {
    bottom: 8px;
    right: 8px;
  }

  /* Push the list up from the bottom */
  ul {
    bottom: 40px;
  }
}
