/* ==========================================================================
   Collapsible
   ========================================================================== */

/* Styles for collapsible accordion header (using Materialize) */
.collapsible-header {
  color: $heading_gray;
  font-weight: 400;
  height: auto;
  line-height: 1;
  padding-bottom: 1rem;
  padding-top: 1rem;

  /* Make header less opaque on hover */
  &:hover {
    opacity: 0.5;

    /* On touch devices, don't change opacity */
    .touch & {
      opacity: 1;
    }
  }

  /* Styles for collapsible icons */
  i {
    float: right;
    margin-right: 0;
    transition: 0.3s;
  }

  /* Rotate the active icon 90 degrees over 0.3s */
  &.active i {
    transform: rotate(90deg);
    transition: 0.3s;
  }
}

/* Styles for collapsible accordion body (using Materialize) */
.collapsible-body {
  padding: 1rem;
}
