/* ==========================================================================
   Resources
   ========================================================================== */

/* Styles for the Resources page */
#resources  {

  /* Give a resource card some padding */
  .card-grid {
    padding: 0.75em;

    /* No left and right padding on small devices */
    @include breakpoint($mq_small) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  /* Give a resource card slightly rounded borders */
  .card {
    border-radius: 0.25em;

    /**
     * Set division-specific colors for resources
     *
     * 1. Loop through division colors map
     * 2. Build selector based on division name
     * 3. Give division title specific background color
     * 4. Give a collapsible accordion header the specific left border and icon color
     * 5. Give links the specific color
     */
    @each $division, $color in $division_colors {
      &.#{$division} {
        .division-title {
          background-color: $color;
        }

        .collapsible-header {
          border-left: 6px solid $color;
          i {
            color: $color;
            line-height: 1;
            margin-top: -5px;
            width: auto;
          }
        }

        a,
        a:active,
        a:hover,
        a:visited {
          color: $color;
        }
      }
    }

    /* Styles for a resource card division title */
    .division-title {
      color: $white;
      font-size: 2rem;
      line-height: 1;
      margin: 0;
      padding: 0.375em 0;
      text-align: center;

      /* Slight right margin for Font Awesome icons */
      .fa {
        margin-right: 0.25em;
      }
    }

    /**
     * Give files/links an icon based on type
     *
     * 1. Loop through file types map
     * 2. Check if resource is a link or file
     * 3. Build selector based on file type
     * 4. Utilize Font Awesome styles
     * 5. Set content to file icon
     * 6. Adjust some layout values
     */
    .collapsible-body {
      a[href^="http"]:before {
        @extend .fa;
        content: "\f08e";
        margin-right: 0.75em;
        width: 16px;
      }

      @each $filetype, $icon in $filetype-icons {
        a[href$=".#{$filetype}"]:before {
          @extend .fa;
          content: "#{$icon}";
          margin-right: 0.75em;
          width: 16px;
        }
      }
    }
  }
}
