/* ==========================================================================
   Spotlights
   ========================================================================== */

/* Styles for the Spotlights page (not the modal) */
#spotlights {

  /* Give cards in the Spotlight section some padding */
  .card-grid {
    padding: 0.75em;

    /* Clear every 5th card on large screens */
    &:nth-of-type(4n+5) {
      clear: both;

      @include breakpoint($mq_not_large) {
        clear: none;
      }
    }

    /* Clear every 4th card on other screens screens */
    &:nth-of-type(3n+4) {
      @include breakpoint($mq_medium) {
        clear: both;
      }
    }
  }

  /* Styles for a Spotlights card on small devices */
  .card {

    /* Give max width and center via margins */
    @include breakpoint($mq_small) {
      margin: 0 auto;
      max-width: 300px;
    }
  }

  /* Styles for the "x" that closes the Spotlight modal */
  .mdi-navigation-close {
    height: auto;
    line-height: inherit;
    width: auto;
  }

  /* Make card image slightly transparent on hover */
  .card-image:hover {
    opacity: 0.5;

    /* Full opacity on touch devices */
    .touch & {
      opacity: 1;
    }
  }

  /* Styles for card content */
  .card-content {
    border-left: 6px solid $palette_green;

    /* Show ellipsis when card paragraph is longer than width */
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;

      /* Increase line height of title slightly */
      &.card-title {
        line-height: 1.25;
      }
    }
  }

  /* Slight right margin for Spotlight Font Awesome icons */
  .fa {
    margin-right: 0.25em;
  }
}
